<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lol Champions</h1>
    <nav>
        <a href="/lolchampions/new"><button>Add A Lol Champion</button></a>
    </nav>

    <% lolChampions.forEach(lolChampion => { %>
        <li>
            <a href="/lolchampions/<%=lolChampion._id %>">
                <%= lolChampion.championName %>
            </a>
        </li>
    <% }) %>
</body>
</html>