<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <h1>Create New Lol Champion</h1>
    <form action="/lolchampions" method="POST">
        Lol Champion Name : <input type="text" name="championName" required />
        <br/>
        Level : <input type="text" name="level" required />
        <br/>
        Role : <input type="text" name="role" required />
        <br/>
        Ready To Battle : <input type="checkbox" name="readyToBattle" />
        <br/>
        <input type="submit" name="" value="Add Lol Champion">
    </form>
</body>
</html>