<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <button><a href="/lolchampions">Back To The Lol Champion List</a></button>
    </nav>

    <h1><%= lolChampion.championName %></h1>

    <p>Level: <%= lolChampion.level %></p>
    <p>Role: <%= lolChampion.role %></p>
    <p>Ready To Battle: <%= lolChampion.readyToBattle %></p>

    <form action="">
        <input type="submit" name="" value="Delete Lol Champion" />
    </form>
</body>
</html>