<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <div1>
    <nav>
        <a href="/user/logout"><button>Log Out</button></a>
    </nav>

    <nav>
        <a href="/lolchampions/new"><button>Add A Lol Champion</button></a>
    </nav>
    </div1>
    
    <h1>Lol Champions</h1>

    <p1>User Name: <%= user %></p1>
    
    <fieldset1>
    <% lolChampions.forEach(lolChampion => { %>
        <li>
            <a href="/lolchampions/<%=lolChampion._id %>">
                <%= lolChampion.championName %>
            </a>
        </li>
    <% }) %>
    </fieldset1>
</body>
</html>