<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <h1>Lol Champions</h1>

    <nav>
        <a href="/user/logout"><button>Log Out</button></a>
    </nav>

    <nav>
        <a href="/lolchampions/new"><button>Add A Lol Champion</button></a>
    </nav>

    <% lolChampions.forEach(lolChampion => { %>
        <li>
            <a href="/lolchampions/<%=lolChampion._id %>">
                <%= lolChampion.championName %>
            </a>
        </li>
    <% }) %>
</body>
</html>