<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <h1>Login</h1>

    <main>
        <div>
            <form action="/user/login" method="post">
                <fieldset>
                    <label>USERNAME: <input type="text" name="username" required /></label>
                    <br/>
                    <label>PASSWORD: <input type="password" name="password" required /></label>
                    <br/> 
                    <input type="submit" name="" value="Log in">
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>