<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <a href="/"><button>Go Back</button></a>
    <h1>Create Account</h1>
    
    <main>
        <div>
            <form action="/user/signup" method="post">
                <fieldset>
                    <label>USERNAME: <input type="text" name="username" required /></label>
                    <br/>
                    <label>PASSWORD: <input type="password" name="password" required /></label>
                    <br/> 
                    <input type="submit" name="" value="Create Account">
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>